
.main-container {
  background-color: #000428;
  height: 100vh;
  display: flex;
}
.main-left {
  width: 5%;
  background-color: #000428;
  height: 100vh;
}

.main-left>svg{
margin-top: 2rem;
margin-left: 0.75rem;
}

.main-right {
  width: 95%;
  background-color: #efb436d5;
  /* max-height: 100vh; */
  overflow: scroll;
}

.add-button {
  box-sizing: border-box;
  width: 15%;
  float: right;
  border-radius: 0.6rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #000428;
  color: white;
  border-width: 0;
  margin-top: 1rem;
  padding: 0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.add-button:focus {
  border: 2px solid black;
}
.close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.create-form {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 1.5rem;
    border-radius: 1rem;
    width: 75%;
    margin: 5rem auto;
  }
  .create-form-input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.6rem;
    height: 1.5rem;
    margin: 1rem 0 1rem;
    padding: 1rem;
    border: 1px;
    background-color: rgb(240, 236, 236);
  }
  
  .create-form-input:focus {
    outline: 0;
  }
  
  .create-form-submit {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.6rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: #294d9b;
    color: white;
    border-width: 0px;
    margin-top: 1rem;
    padding: 0px;
  }
  .employee-cards{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-around;
}

  .card-main{
    width: 40%;
    height: 40%;
    position: relative;
    background-color: #01153E;
    padding: 1rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-top{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}
.avatar-image{
    width: 30%;
    height: 70%;
    border-radius: 50%;
}
.card-top-text-block{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.card-name{
    color: white;
    font-size: 2.5rem;

}
.card-designation{
    color: white;
    font-size: 1.5rem;
}
.card-bottom{
    height: 50%;
    text-align: center;
}
.card-bottom-text{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
}
.action-icons{
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 1rem;
}
.action-icons>svg{
    cursor: pointer;
}
.mobile-view-logout-button{
    display: none;
}
.create-form>h1{
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .main-left{
        display: none;
    }
    .avatar-image{
        margin-bottom: 1rem;
    }
    .main-right{
        width: 100%;
    }
    .card-main{
        width: 90%;
        height: 60%;
        margin: 1rem;
    }
    .card-top{
        flex-direction: column;
    }
    .card-bottom{
        text-align: center;
    }
    .card-bottom-text{
        margin-left: 0;
    }
    .add-button{
        width: 40%;
        

    }
    .mobile-view-logout{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-view-logout-button{
        display: block;
        margin-top: 1rem;
margin-left: 1rem;
    }
}
